.row-footer {
  margin-top: 3%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons a {
  margin-left: 0.5%;
}

.copyright-container {
  margin-top: 0.5%;
}

