.row-footer {
  margin-top: 3%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons a {
  margin-left: 0.5%;
}

.copyright-container {
  margin-top: 0.5%;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 100%;  /* or any size you want */
    max-width: 300px;  /* or any size you want */
    transform: rotate(90deg); /* Added this line to rotate the image */
}
